@import url("https://fonts.googleapis.com/css?family=Signika:700,300,600");

:root {
  --base-color: #E4E4E3;
  --primary-color: #fa6b1f;
  --secondary-color: #549DCF;
  --text-color: #1C1C1C;
  --white-color: #FFFFFF;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 0 2em;
  font-family: "Signika", sans-serif;
  letter-spacing: 2px;
  background-color: var(--base-color);
  color: var(--text-color);
}

section {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.boardSec {
  display: none;
}

.title {
  font: bold 12vw/1.4 "Signika", sans-serif;
  margin-bottom: 0.3em;
}

.title > p {
  color: var( --primary-color);
}

.title > p > span {
  color: var( --secondary-color);
}

.gameOptions > p {
  margin-bottom: 1.5em;
}

a {
  display: block;
  text-decoration: none;
  margin: auto;
  width: 200px;
  padding: .8em;
  border-radius: 1.5em;
  margin-bottom: 0.8em;
  color: var(--text-color);
  font-size: 0.8em;
  /* transition: background-color 2s; */
}

a:hover {
  background-color: var( --primary-color);
  color: var(--white-color);
}

a, button {
  cursor: pointer;
  background-color: var(--white-color);
}

.players {
  display: flex;
  justify-content: space-evenly;
  width: 300px;
  margin-bottom: 2em;
}

.players > p:nth-child(2) {
  width: 80px;
  border-radius: 0.3em;
  text-align: center;
  background-color: var(--white-color);
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width: 300px;
  height: 300px;
  border-radius: .3em;
  margin-bottom: 1.3em;
}

button {
  border: 0;
  outline: 0;
  font: bold 5vw "Signika", sans-serif;
  position: relative;
  border: 3px solid var(--base-color);
}

#messageGame {
  text-align: center;
  margin-bottom: 2em;
}

.boardSect__menu {
  display: flex;
}

.restart,
.homeBtn,
#x,
#o {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid var(--text-color);
  margin: 1em;
  padding: 0.8em;
  font-size: 1em;
  font-weight: 300;
}

.restart > img,
.homeBtn > img {
  width: 20px;
  height: 20px;
}

.restart {
  border: 1px solid silver;
}

/*Classes added by JS code */
.chosen {
  background-color: var( --primary-color);
}

.activeRestart {
  background-color: var( --primary-color);
  border: 1px solid var(--text-color);
}

.horizontalLine::before {
  content: "";
  width: 100%;
  height: 48%;
  top: 0;
  left: 0;
  border-bottom: 2px solid var(--text-color);
  position: absolute;
}

.verticalLine::before {
  content: "";
  width: 50%;
  height: 100%;
  top: 0;
  left: 0;
  border-right: 2px solid var(--text-color);
  position: absolute;
}

.rightDiagonalLine::before {
  content: "";
  width: 100%;
  height: 100%;
  background: linear-gradient(
    45deg,
    transparent 50%,
    #31352e 2%,
    transparent 52%
  );
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  position: absolute;
}

.leftDiagonalLine::before {
  content: "";
  width: 100%;
  height: 100%;
  background: linear-gradient(
    -45deg,
    transparent 50%,
    #31352e 2%,
    transparent 52%
  );
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  position: absolute;
}

@media (min-width: 768px) {
  .title {
    font: bold 5vw/1.4 "Signika", sans-serif;
    margin-bottom: 0.3em;
  }

  button {
    font: bold 3vw "Signika", sans-serif;
  }
}